<section class="content">
    <aside>
        <div class="espace-utilisateur">

            <div class="info-user">{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <p>{{ app.user.mail }}</p>
                    <p>{{ app.user.nom }} {{ app.user.prenom }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('add_article') }}">Ajouter un article</a></li>
                        <li><a href="{{ path('add_event') }}">Ajouter un évenement</a></li>
                        <li><a href="{{ path('index_email') }}">Envoyer newsletter</a> </li>
                    {% endif %}
                    <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
                {% else %}
                    <a href="{{ url('security_connexion') }}"><button type="button" class="btn btn-secondary btn-lg btn-block">Connexion</button></a>
                    <a href="{{ url ('inscription') }}"><button type="button" class="btn btn-secondary btn-lg btn-block">Inscription</button></a>
                {% endif %}</div>
            <div class="register"></div>
            <div class="login-logout"></div>
            <div class="registration-form">

            </div>
        </div>

        <div class="events">
            <h3>Les prochains évenements</h3>
            {% for evenement in evenements %}
                <div class="entry1">
                    <p>{{ evenement.titre }}</p>
                    <h4>{{ evenement.date | date('d/m/Y') }}</h4>
                </div>
            {% endfor %}

        </div>


    </aside>