<section>
    <aside>
        <div class="espace-utilisateur">
            <div class="info-user">Infos Utilisateur{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>{{ app.user.mail }}</p>
                <p>{{ app.user.nom }} {{ app.user.prenom }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('add_article') }}">Ajouter un Article</a></li>
                    <li><a href="{{ path('add_event') }}">Ajouter un Evenement</a></li>
                    {% endif %}
                <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ url('security_connexion') }}">Connexion</a></li>
                <li><a href="{{ url ('inscription') }}">Inscription</a></li>

                {% endif %}</div>
            <div class="register">S'inscrire</div>
            <div class="login-logout">Login/Logout</div>
        </div>
        <div class="events">
            <h3>Les prochains évenements</h3>
            {% for evenement in evenements %}
                <div class="entry1">
                    <p>{{ evenement.titre }}</p>
                    <h4>{{ evenement.date | date('d/m/Y') }}</h4>
                </div>
            {% endfor %}

        </div>
    </aside>